.header {
  position: sticky;
  top: 0;
  background-color: $color-white;
  z-index: 1;

  &__menu {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 766px) {
      align-items: center;
    }
  }

  &__nav {
    width: 443px;
    padding: 14px 0px;
    transition: all 0.5s;

    @media only screen and (max-width: 766px) {
      position: fixed;
      top: 0;
      right: 0;
      width: 1px;
      opacity: 0;
      height: 1000%;
      background-color: $color-dark-3;
      z-index: 9;
    }

    &--active {
      width: 320px;
      opacity: 1;
      z-index: 9;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: 766px) {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin-top: 190px;
        display: none;
        z-index: 9;
      }
      &--active {
        @media only screen and (max-width: 766px) {
          display: flex;
        }
      }
    }

    &-item {
      list-style-type: none;
    }
    &-link {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-1;
      text-decoration: none;
      position: relative;
      @media only screen and (max-width: 766px) {
        font-size: 32px;
        color: $color-dark-light;
        z-index: 9;
      }

      &:hover {
        color: $color-dark-3;
        @media only screen and (max-width: 766px) {
          color: $color-light;
        }
      }
    }

    &-link--active {
      color: $color-dark-3;
      @media only screen and (max-width: 766px) {
        color: $color-light;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -7px;
        height: 3px;
        width: 100%;
        background-color: $color-primary;
      }
    }
  }

  &__burger-menu {
    width: 30px;
    height: 25px;
    background: url('./../../assets/icons/burger-menu-grey.svg') no-repeat
      center;
    display: none;
    z-index: 10;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
    }
    &--active {
      transform: rotate(90deg);
      background: url('./../../assets/icons/burger-icon.svg') no-repeat center;
      z-index: 10;
    }

    @media only screen and (max-width: 766px) {
      position: fixed;
      top: 48px;
      right: 10px;
      display: block;
      margin-left: auto;
      margin-right: 43px;
    }
  }
}
