.pets {
  background: $color-grey-light;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    @media only screen and (max-width: 1279px) {
      gap: 30px;
    }
  }

  &__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-1;
    text-align: center;
    @media only screen and (max-width: 766px) {
      font-size: 25px;
      margin-bottom: 12px;
    }
  }

  &__card-container {
    position: relative;
    left: 0;
    padding: 14px 0px 15px 0;
    width: 1200px;
    height: 930px;
    display: flex;
    overflow: hidden;
    @media only screen and (max-width: 1279px) {
      width: 580px;
      height: 1365px;

      padding: 0;
    }
    @media only screen and (max-width: 766px) {
      width: 270px;
    }
  }

  &__pagination {
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1279px) {
      margin-top: 10px;
    }
    @media only screen and (max-width: 766px) {
      width: 300px;
    }
  }
}

.pet-card__page {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  transition: transform 1s;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 30px;
  width: 1200px;
  @media only screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, 270px);
    padding: 0;
  }
  @media only screen and (max-width: 766px) {
    grid-template-columns: 270px;
  }
}
