.header {
  background: $color-main-bg;

  @media only screen and (max-width: 766px) {
    position: relative;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 766px) {
      align-items: center;
    }
  }

  &__nav {
    width: 443px;
    padding: 14px 0px;
    transition: all 0.5s;
    z-index: 8;

    @media only screen and (max-width: 766px) {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      opacity: 0;
      height: 130%;
      background-color: $color-dark-3;
    }
    &--active {
      width: 320px;
      opacity: 1;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: 766px) {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin-top: 190px;
        display: none;
        z-index: 8;
      }
      &--active {
        @media only screen and (max-width: 766px) {
          display: flex;
        }
      }
    }

    &-item {
      list-style-type: none;
    }
    &-link {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-light;
      text-decoration: none;
      position: relative;
      @media only screen and (max-width: 766px) {
        font-size: 32px;
        z-index: 8;
      }
    }
    &-link:hover {
      color: $color-light;
    }

    &-link--active {
      color: $color-light;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 3px;
        width: 100%;
        background-color: $color-primary;
      }
    }
  }

  &__burger-menu {
    width: 30px;
    height: 25px;
    background: url('./../../assets/icons/burger-icon.svg') no-repeat center;
    display: none;
    z-index: 10;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
    }

    &--active {
      transform: rotate(90deg);
      z-index: 10;
    }

    @media only screen and (max-width: 766px) {
      display: block;
      margin-left: auto;
      margin-right: 43px;
    }
  }

  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1279px) {
      flex-direction: column;
    }

    &-wrapper {
      width: 460px;
      height: 322px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 80px;
      @media only screen and (max-width: 1279px) {
        margin-bottom: 100px;
      }
      @media only screen and (max-width: 766px) {
        width: 300px;
        height: 296px;
        align-items: center;
        margin-bottom: 105px;
      }
    }
    &-title {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 130%;
      color: $color-white;
      @media only screen and (max-width: 766px) {
        letter-spacing: 0.06em;
        font-size: 25px;
        text-align: center;
      }
    }
    &-description {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-light;
      @media only screen and (max-width: 766px) {
        text-align: center;
      }
    }
    &-btn {
      @media only screen and (max-width: 1279px) {
        align-self: center;
      }
    }
    &-img {
      @media only screen and (max-width: 1279px) {
        width: 569px;
        height: 593px;
        align-self: flex-end;
      }
      @media only screen and (max-width: 766px) {
        width: 260px;
        height: 271px;
      }
    }
  }
}
