.modal-window {
  display: none;

  &--active {
    display: flex;
    position: fixed;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    width: 900px;
    height: 500px;
    z-index: 15;
    top: 50%;
    left: 50%;
    background-color: $color-light;
    transform: translate(-50%, -50%);
    border-radius: 9px;

    gap: 10px;
    @media only screen and (max-width: 1279px) {
      width: 682px;
      height: 402px;
    }
    @media only screen and (max-width: 766px) {
      width: 271px;
      height: 393px;
    }
  }
  &__close {
    width: 52px;
    height: 52px;
    background: url('./../../assets/icons/close.svg') no-repeat center;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    position: absolute;
    top: -50px;
    right: -50px;
    &:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 766px) {
      right: -32px;
    }
  }
  &__img {
    height: 100%;
    @media only screen and (max-width: 766px) {
      display: none;
    }
  }

  &__wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media only screen and (max-width: 1279px) {
      padding-top: 10px;
      gap: 20px;
    }
    @media only screen and (max-width: 766px) {
      padding: 10px;
    }
  }
  &__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__sub-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
  }
  &__description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    @media only screen and (max-width: 1279px) {
      font-size: 13px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media only screen and (max-width: 1279px) {
      gap: 5px;
    }
  }
  &__item {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    list-style-type: none;

    &::before {
      color: $color-btn;
      content: '●';
      padding-right: 10px;
    }
  }
}
